absl-py==1.4.0 ; python_full_version > "3.9.7" and python_version < "4.0"
aiobotocore==2.4.2 ; python_full_version > "3.9.7" and python_version < "4.0"
aiohttp==3.8.5 ; python_full_version > "3.9.7" and python_version < "4.0"
aioitertools==0.11.0 ; python_full_version > "3.9.7" and python_version < "4.0"
aiosignal==1.3.1 ; python_full_version > "3.9.7" and python_version < "4.0"
altair==4.2.2 ; python_full_version > "3.9.7" and python_version < "4.0"
ansicon==1.89.0 ; python_full_version > "3.9.7" and python_version < "4.0" and platform_system == "Windows"
antlr4-python3-runtime==4.9.3 ; python_full_version > "3.9.7" and python_version < "4.0"
anyio==3.6.2 ; python_full_version > "3.9.7" and python_version < "4.0"
arrow==1.2.3 ; python_full_version > "3.9.7" and python_version < "4.0"
async-timeout==4.0.2 ; python_full_version > "3.9.7" and python_version < "4.0"
attrs==23.1.0 ; python_full_version > "3.9.7" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_full_version > "3.9.7" and python_version < "4.0"
bleach==6.0.0 ; python_full_version > "3.9.7" and python_version < "4.0"
blessed==1.20.0 ; python_full_version > "3.9.7" and python_version < "4.0"
blinker==1.6.2 ; python_full_version > "3.9.7" and python_version < "4.0"
bokeh==2.4.3 ; python_full_version > "3.9.7" and python_version < "4.0"
botocore==1.27.59 ; python_full_version > "3.9.7" and python_version < "4.0"
cachetools==5.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
certifi==2023.7.22 ; python_full_version > "3.9.7" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_full_version > "3.9.7" and python_version < "4.0"
click==8.1.3 ; python_full_version > "3.9.7" and python_version < "4.0"
colorama==0.4.6 ; python_full_version > "3.9.7" and python_version < "4.0" and platform_system == "Windows"
contourpy==1.0.7 ; python_full_version > "3.9.7" and python_version < "4.0"
croniter==1.3.14 ; python_full_version > "3.9.7" and python_version < "4.0"
cycler==0.11.0 ; python_full_version > "3.9.7" and python_version < "4.0"
dateutils==0.6.12 ; python_full_version > "3.9.7" and python_version < "4.0"
decorator==5.1.1 ; python_full_version > "3.9.7" and python_version < "4.0"
deepdiff==6.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
docker==6.1.1 ; python_full_version > "3.9.7" and python_version < "4.0"
docstring-parser==0.15 ; python_full_version > "3.9.7" and python_version < "4.0"
entrypoints==0.4 ; python_full_version > "3.9.7" and python_version < "4.0"
fastapi==0.88.0 ; python_full_version > "3.9.7" and python_version < "4.0"
filelock==3.12.0 ; python_full_version > "3.9.7" and python_version < "4.0"
fonttools==4.39.3 ; python_full_version > "3.9.7" and python_version < "4.0"
frozenlist==1.3.3 ; python_full_version > "3.9.7" and python_version < "4.0"
fsspec==2022.11.0 ; python_full_version > "3.9.7" and python_version < "4.0"
fsspec[http]==2022.11.0 ; python_full_version > "3.9.7" and python_version < "4.0"
gitdb==4.0.10 ; python_full_version > "3.9.7" and python_version < "4.0"
gitpython==3.1.32 ; python_full_version > "3.9.7" and python_version < "4.0"
google-auth-oauthlib==1.0.0 ; python_full_version > "3.9.7" and python_version < "4.0"
google-auth==2.17.3 ; python_full_version > "3.9.7" and python_version < "4.0"
grpcio==1.54.0 ; python_full_version > "3.9.7" and python_version < "4.0"
h11==0.14.0 ; python_full_version > "3.9.7" and python_version < "4.0"
h5py==3.8.0 ; python_full_version > "3.9.7" and python_version < "4.0"
hydra-core==1.3.2 ; python_full_version > "3.9.7" and python_version < "4.0"
idna==3.4 ; python_full_version > "3.9.7" and python_version < "4.0"
importlib-metadata==6.6.0 ; python_full_version > "3.9.7" and python_version < "4.0"
importlib-resources==5.12.0 ; python_full_version > "3.9.7" and python_version < "4.0"
inquirer==3.1.3 ; python_full_version > "3.9.7" and python_version < "4.0"
itsdangerous==2.1.2 ; python_full_version > "3.9.7" and python_version < "4.0"
jinja2==3.1.2 ; python_full_version > "3.9.7" and python_version < "4.0"
jinxed==1.2.0 ; python_full_version > "3.9.7" and python_version < "4.0" and platform_system == "Windows"
jmespath==1.0.1 ; python_full_version > "3.9.7" and python_version < "4.0"
jsonargparse[signatures]==4.21.0 ; python_full_version > "3.9.7" and python_version < "4.0"
jsonschema==4.17.3 ; python_full_version > "3.9.7" and python_version < "4.0"
kiwisolver==1.4.4 ; python_full_version > "3.9.7" and python_version < "4.0"
lightning-api-access==0.0.5 ; python_full_version > "3.9.7" and python_version < "4.0"
lightning-cloud==0.5.34 ; python_full_version > "3.9.7" and python_version < "4.0"
lightning-fabric==2.0.2 ; python_full_version > "3.9.7" and python_version < "4.0"
lightning-utilities==0.8.0 ; python_full_version > "3.9.7" and python_version < "4.0"
lightning[extra]==2.0.2 ; python_full_version > "3.9.7" and python_version < "4.0"
markdown-it-py==2.2.0 ; python_full_version > "3.9.7" and python_version < "4.0"
markdown==3.4.3 ; python_full_version > "3.9.7" and python_version < "4.0"
markupsafe==2.1.2 ; python_full_version > "3.9.7" and python_version < "4.0"
matplotlib==3.7.1 ; python_full_version > "3.9.7" and python_version < "4.0"
mdurl==0.1.2 ; python_full_version > "3.9.7" and python_version < "4.0"
mpmath==1.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
multidict==6.0.4 ; python_full_version > "3.9.7" and python_version < "4.0"
networkx==3.1 ; python_full_version > "3.9.7" and python_version < "4.0"
numpy==1.24.3 ; python_full_version > "3.9.7" and python_version < "4.0"
oauthlib==3.2.2 ; python_full_version > "3.9.7" and python_version < "4.0"
omegaconf==2.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
ordered-set==4.1.0 ; python_full_version > "3.9.7" and python_version < "4.0"
packaging==23.1 ; python_full_version > "3.9.7" and python_version < "4.0"
pandas==2.0.1 ; python_full_version > "3.9.7" and python_version < "4.0"
panel==0.14.4 ; python_full_version > "3.9.7" and python_version < "4.0"
param==1.13.0 ; python_full_version > "3.9.7" and python_version < "4.0"
pillow==9.5.0 ; python_full_version > "3.9.7" and python_version < "4.0"
protobuf==3.20.3 ; python_full_version > "3.9.7" and python_version < "4.0"
psutil==5.9.5 ; python_full_version > "3.9.7" and python_version < "4.0"
pyarrow==12.0.0 ; python_full_version > "3.9.7" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
pyasn1==0.5.0 ; python_full_version > "3.9.7" and python_version < "4.0"
pyct==0.5.0 ; python_full_version > "3.9.7" and python_version < "4.0"
pydantic==1.10.7 ; python_full_version > "3.9.7" and python_version < "4.0"
pydeck==0.8.0 ; python_full_version > "3.9.7" and python_version < "4.0"
pygments==2.15.1 ; python_full_version > "3.9.7" and python_version < "4.0"
pyjwt==2.6.0 ; python_full_version > "3.9.7" and python_version < "4.0"
pympler==1.0.1 ; python_full_version > "3.9.7" and python_version < "4.0"
pyparsing==3.0.9 ; python_full_version > "3.9.7" and python_version < "4.0"
pyrsistent==0.19.3 ; python_full_version > "3.9.7" and python_version < "4.0"
python-dateutil==2.8.2 ; python_full_version > "3.9.7" and python_version < "4.0"
python-editor==1.0.4 ; python_full_version > "3.9.7" and python_version < "4.0"
python-multipart==0.0.6 ; python_full_version > "3.9.7" and python_version < "4.0"
pytorch-lightning==2.0.2 ; python_full_version > "3.9.7" and python_version < "4.0"
pytz-deprecation-shim==0.1.0.post0 ; python_full_version > "3.9.7" and python_version < "4.0"
pytz==2023.3 ; python_full_version > "3.9.7" and python_version < "4.0"
pyviz-comms==2.2.1 ; python_full_version > "3.9.7" and python_version < "4.0"
pywin32==306 ; python_full_version > "3.9.7" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0 ; python_full_version > "3.9.7" and python_version < "4.0"
readchar==4.0.5 ; python_full_version > "3.9.7" and python_version < "4.0"
redis==4.5.5 ; python_full_version > "3.9.7" and python_version < "4.0"
requests-oauthlib==1.3.1 ; python_full_version > "3.9.7" and python_version < "4.0"
requests==2.31.0 ; python_full_version > "3.9.7" and python_version < "4.0"
rich==13.3.5 ; python_full_version > "3.9.7" and python_version < "4.0"
rsa==4.9 ; python_full_version > "3.9.7" and python_version < "4"
s3fs==2022.11.0 ; python_full_version > "3.9.7" and python_version < "4.0"
setuptools==67.7.2 ; python_full_version > "3.9.7" and python_version < "4.0"
six==1.16.0 ; python_full_version > "3.9.7" and python_version < "4.0"
smmap==5.0.0 ; python_full_version > "3.9.7" and python_version < "4.0"
sniffio==1.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
soupsieve==2.4.1 ; python_full_version > "3.9.7" and python_version < "4.0"
starlette==0.22.0 ; python_full_version > "3.9.7" and python_version < "4.0"
starsessions==1.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
streamlit==1.22.0 ; python_full_version > "3.9.7" and python_version < "4.0"
sympy==1.11.1 ; python_full_version > "3.9.7" and python_version < "4.0"
tenacity==8.2.2 ; python_full_version > "3.9.7" and python_version < "4.0"
tensorboard-data-server==0.7.0 ; python_full_version > "3.9.7" and python_version < "4.0"
tensorboard==2.13.0 ; python_full_version > "3.9.7" and python_version < "4.0"
tensorboardx==2.6 ; python_full_version > "3.9.7" and python_version < "4.0"
toml==0.10.2 ; python_full_version > "3.9.7" and python_version < "4.0"
toolz==0.12.0 ; python_full_version > "3.9.7" and python_version < "4.0"
torch==2.0.1 ; python_full_version > "3.9.7" and python_version < "4.0"
torchmetrics==0.11.4 ; python_full_version > "3.9.7" and python_version < "4.0"
torchsummary==1.5.1 ; python_full_version > "3.9.7" and python_version < "4.0"
torchvision==0.15.2 ; python_full_version > "3.9.7" and python_version < "4.0"
tornado==6.3.3 ; python_full_version > "3.9.7" and python_version < "4.0"
tqdm==4.65.0 ; python_full_version > "3.9.7" and python_version < "4.0"
traitlets==5.9.0 ; python_full_version > "3.9.7" and python_version < "4.0"
typeshed-client==2.3.0 ; python_full_version > "3.9.7" and python_version < "4.0"
typing-extensions==4.5.0 ; python_full_version > "3.9.7" and python_version < "4.0"
tzdata==2023.3 ; python_full_version > "3.9.7" and python_version < "4.0"
tzlocal==4.3 ; python_full_version > "3.9.7" and python_version < "4.0"
urllib3==1.26.15 ; python_full_version > "3.9.7" and python_version < "4.0"
uvicorn==0.22.0 ; python_full_version > "3.9.7" and python_version < "4.0"
validators==0.20.0 ; python_full_version > "3.9.7" and python_version < "4.0"
watchdog==3.0.0 ; python_full_version > "3.9.7" and python_version < "4.0" and platform_system != "Darwin"
wcwidth==0.2.6 ; python_full_version > "3.9.7" and python_version < "4.0"
webencodings==0.5.1 ; python_full_version > "3.9.7" and python_version < "4.0"
websocket-client==1.5.1 ; python_full_version > "3.9.7" and python_version < "4.0"
websockets==11.0.3 ; python_full_version > "3.9.7" and python_version < "4.0"
werkzeug==2.3.4 ; python_full_version > "3.9.7" and python_version < "4.0"
wheel==0.40.0 ; python_full_version > "3.9.7" and python_version < "4.0"
wrapt==1.15.0 ; python_full_version > "3.9.7" and python_version < "4.0"
yarl==1.9.2 ; python_full_version > "3.9.7" and python_version < "4.0"
zipp==3.15.0 ; python_full_version > "3.9.7" and python_version < "4.0"
